th{
   color:green;
   background-color:palegreen;
   text-align:center;
}
.number {
	text-align:right;
}
.language{
	text-align:left;
}
td.image img{
	width:50px;
}
.font_test{
	color:red;
}
.suuji{
	text-align:right;
}
table{display:inline-block;}
table{vertical-align:bottom;}

label{
	display:inline-block;
	width:140px;
	text-align:right;
}
input.hoge{
	width:400px;
}
div{
	text-align:center;
}
.box{margin-right: auto;
 	 margin-left:auto;
	 width: 150px;
 	 height: 150px;
	 padding: 10px;
	 display: inline-block;
}
fieldset{border-radius:5px;}
div form{
	width:640px;
	margin-right:auto;
	margin-left:auto;
}
.box{
	margin:10px auto;
	width:100px;
}
.test{
	border-radius:8%;
	padding: 10px 12px;
	text-align:center;
	background:#007DC5;
	color:#ffffff;
	border-color:#007DC5
}
div form{
	width:640px;
	margin-right:auto;
	margin-left:auto;
}
